<div class="container-fluid mt10">
	<table class="table table-striped" style="background:#fff;">
		<thead>
			<tr>
				<th>选择</th>
				<th>客户端ID</th>
				<th>客户端名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="client in client_list">
				<td><input type="checkbox"></td>
				<td>{{client.client_name}}</td>
				<td>{{client.client_name_cn}}</td>
				<td>
					<a href="">编辑</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>