<div class="container-fluid mt10">
	<table class="table table-striped" style="background:#fff;">
		<thead>
			<tr>
				<th>选择</th>
				<th>客户端ID</th>
				<th>执行时间</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cron in cron_list">
				<td><input type="checkbox"></td>
				<td>{{cron.title}}</td>
				<td>{{cron.do_time}}</td>
				<td>{{cron.ctime}}</td>
				<td>
					<a href="">编辑</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>