<div class="container">
	<form class="form-signin" role="form" ng-submit="submit()">
		<h2 class="form-signin-heading">Push系统</h2>
		<input type="username" class="form-control" placeholder="用户名" required autofocus ng-model="formData.username">
		<input type="password" class="form-control" placeholder="密码" required ng-model="formData.password">
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> 记住密码
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
	</form>
</div> <!-- /container -->

