<div class="container-fluid mt10">
	<div class="row">
		<div class="col-xs-6">
			<form class="form" role="form" ng-submit="submit()">
				<div class="form-group">
					<label>选择客户端：</label>
					<label class="pull-right">全选 <input type="checkbox" value=""></label>
					<div class="select-client-box">
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="QGLMain"  id="client" ng-model="task.client_name">主攻略
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Phuket"  id="client" ng-model="task.client_name">普吉岛
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="QGL_QM"  id="client" ng-model="task.client_name">清迈
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Bangkok"  id="client" ng-model="task.client_name">曼谷
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Seoul"  id="client" ng-model="task.client_name">首尔
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Taiwan"  id="client" ng-model="task.client_name">台湾
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="TaiBei"  id="client" ng-model="task.client_name">台北
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Tokyo"  id="client" ng-model="task.client_name">东京
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Osaka"  id="client" ng-model="task.client_name">大阪
									
								</label>
							</div>
						</li>
						<li>
							<div class="radio">
								<label>
									<input type="radio" name="task.client_name" value="Kyoto"  id="client" ng-model="task.client_name">京都
									
								</label>
							</div>
						</li>
					</div>
				</div>
				
			
				<!--div class="form-group">
					<label class="control-label" for="title">客户端：</label>
					<input type="text" class="form-control" placeholder="" required ng-model="task.client_name">
				</div-->
				
				<div class="form-group">
					<label class="control-label" for="title">链接：</label>
					<input type="text" class="form-control" placeholder="" required ng-model="task.url">
				</div>
				<div class="form-group">
					<label class="control-label" for="title">内容(15个字以内)：</label>
					<textarea class="form-control"  required ng-model="task.text"></textarea>
				</div>
				
				<!--div class="form-group">
					<label class="control-label" for="title">发送时间：</label>
					<input type="text" class="form-control" placeholder="" required ng-model="formData.password">
				</div-->
				<!--div class="form-group">
					<label class="control-label" for="title">发送平台：</label>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="task.platform.ios" checked="true" value="ios"> IOS
						</label>
						<label>
							<input type="checkbox" ng-model="task.platform.android" value="android"> Android
						</label>
					</div>
				</div-->
				<button class="btn btn-lg btn-primary btn-sm" type="submit">提交任务</button>
			</form>
		</div>
		<div class="col-xs-6">
			<label>控制台</label>
			<div class="console" style="background:#000;height:500px;color:green;padding:10px;overflow-y:scroll;">
				<p ng-repeat="message in messages">
					{{message}}
				</p>
			</div>
		</div>
	</div>
</div>
