body {
  background-color: #eee;
  padding-top: 50px;
}

.header-bg {background:#fff; margin-bottom:10px;}
.header-bg {margin-bottom:0;background-color:#fff;border-bottom:0}
.header-bg .navbar-brand,.header-bg .navbar-nav>li>a {font-weight:500;color:#16a085}
.header-bg .navbar-nav>li>a:hover,.header-bg .navbar-nav>.active>a,.header-bg .navbar-nav>.active>a:hover{color:#16a085;background-color:#f9f9f9;}
.header-bg .navbar-toggle .icon-bar {background-color:#563d7c}
.header-bg .navbar-header .navbar-toggle {border-color:#fff}
.header-bg .navbar-header .navbar-toggle:hover,
.header-bg .navbar-header .navbar-toggle:focus{background-color:#f9f9f9;border-color:#f9f9f9}

.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select-client-box {width:100%; height:200px; background:#fff; margin-bottom:10px; padding:10px; overflow-y:scroll;}
.select-client-box li { list-style:none;}